/* ======================================================================================
    Configuraciones generales
   ====================================================================================== */
body {
  margin: 0;
  padding-left: 241px;
}

/* ======================================================================================
    Configuraciones barra de navegacion
   ====================================================================================== */

.barranavegacion {
  border-right: 1px solid rgba(52, 73, 94, 0.2);
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 30px;
}

.itemlistanavegacion {
  border-bottom: 1px solid rgba(52, 73, 94, 0.2);
  padding: 10px 20px ;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: darkslategray;

}

.itemlistanavegacionprimero {
  text-align: center;
  padding-bottom: 50px;
}

.listanavegacion {
  padding: 16px;
  list-style-type: none;
}

.enlacenavegacion {
  display: inline-block;
  padding: 8px;
  border: 4px;
  text-decoration: none;
  color: darkslategray;
  position: relative;
}

.enlacenavegacion:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: darkslategray;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.enlacenavegacion:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.enlacenavegaciondecorasion {
  color: blue;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-left: 2px;
  padding-right: 8px;
}

.sectionredessociales i {
  margin: 10px;
  color: darkslategray;
}

/* ======================================================================================
    Configuraciones generales de secciones
   ====================================================================================== */

.seccion {
  border-bottom: 1px solid rgba(52, 73, 94, 0.2);
  padding: 20px;
}

.subtitulo {
  padding: 8px 20px;
  margin: 100px 190px;
  font-family: 'Abel', sans-serif;
  font-weight: medium;
  font-size: 26px;
  text-transform: uppercase;
  color: black;
}

.subtitulodecorasion {
  color: blue;
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ======================================================================================
    Configuraciones seccion inicio
   ====================================================================================== */

.seccioninicio {
  height: 100%;
}

/* ======================================================================================
    Configuraciones seccion acerca de mi 
   ====================================================================================== */

.sectionredessociales {
  text-align: center;
}

/* ======================================================================================
    Configuraciones seccion contactarme 
   ====================================================================================== */

.logo {
  width: 75px;
  height: 75px;
}

.formulariocontacto {
  margin-left: 250px;
  width: 560px;
}

.inputs {
  box-sizing: border-box;
  padding: 10px 24px;
  margin: 8px 0px;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgba(52, 73, 94, 0.2);
  color: darkslategray;
  background-color: white;
}

.botonenviar {
  padding: 16px 34px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  background-color: black;
  color: white;
  border: 2px solid black;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 16px;
}

.botonenviar:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.contactarmecanales {
  margin-bottom: 20px;
  float: left;
}

.canal1{
  width: 260px;
  margin-left: 250px;
}

.canal2{
  width: 300px;
  margin-left: 0px;
}

.contactarmecanales i {
  color: darkslategray;
  position: relative;
  float: left;
  margin: 10px 10px 20px 10px;
}

.contactarmecanales p {
  margin: 4px 8px;
  color: darkslategray;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 16px;
}

/* ======================================================================================
    Configuraciones seccion footer
   ====================================================================================== */

footer {
  background-color: rgb(247, 247, 247);
  padding: 10px 40px;
  vertical-align: bottom;
}

.sectionredessocialesfooter {
  box-sizing: content-box;
  float: left;
  margin: 20px 20px;
  padding: 20px 20px;
  height: 75px;
  width: 40%;
}

.sectionredessocialesfooter i {
  color: darkslategray;
  margin: 14px 10px;
  padding: 10px 10px;
}

.sectionlogofooter {
  display: inline-block;
  margin: 20px 20px;
  padding: 20px 20px;
  width: 40%;
  text-align: right;
  box-sizing: border-box;
}

.sectioncopyrigthfooter {
  text-align: center;
  margin: 4px 8px;
  padding: 4px 8px;
  color: darkslategray;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 16px;
  height: 25px;
}